# Entornos virtuales
venv/
*.env
.env
.venv

# Archivos de caché y compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Carpetas de configuración de IDEs
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db